.hero_content {
    width: 100%;
    background-color: var(--color-900);
    /* padding: var(--space-24) var(--space-16); */
}
.section-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-left h4{
    color: #F98167;
    margin: 0;
}

.section-center{
    flex: 2;
    background-image: url('../../assets/img/heroContent/Image1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: justify;
    display: flex;
    align-items: center;
}

.right_img{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_img img{
    width: 100%;
    height: auto;
    max-height: 420px;
    object-fit: cover;
    max-height: 30vh;

}

@media (max-width: 767px) {
    .section-center{
        min-height: 200px;
        background-size: contain;
        background-position: top center;
    }
    .section-left {
        padding: var(--space-12);
    }


}

@media (min-width: 992px) {
    .hero_content {
        max-height: 30vh;
    }
}